<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-7 col-sm-7">
      <app-sponsoring-publication></app-sponsoring-publication>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <div class="container-fluid post-date">
        <div class="pl-4 col-10">
          POSTED ON: <b>01/01/2020</b>
        </div>
        <div class="pl-4 col-10">
          HOUR: <b>17:15 pm</b>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">VISITS: <b>350</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">TOUCHED: <b>1235</b></div>
        </div>
      </div>
    </div>
  </div>
</div>
