<div class="row search-row">
  <div class="col-md-12 d-flex align-items-center">
    <form class="d-flex justify-content-center">
      <input class="searchBar" type="search" placeholder="  Search..." aria-label="Search">
    </form>
  </div>
</div>
<div class="container d-flex justify-content-center mt-4">
  <div class="col-12 col-md-7 col-sm-7">
    <app-post-publication></app-post-publication>
  </div>
  <div class="col-12 col-md-4 col-sm-4">
    <div class="container-fluid post-date">
      <div class="row mt-3">
        <div class="col-md-12">POSTED ON: <b>01/01/2020</b></div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">HOUR: <b>17:15 pm</b></div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">VIEWS: <b>202</b></div>
      </div>
    </div>
  </div>
</div>
