<div class="contain-page">
  <app-navbar></app-navbar>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-7 col-sm-8">
        <mat-card id="search-result">
          <div class="container-fluid" id="frame">
            <div class="row">
              <div class="col-12">
                <mat-card-header class="">
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Rougeo army</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header class="">
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Riso Harvey</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-card-header>
                  <div mat-card-avatar class="avatar"></div>
                  <mat-card-title>Apohi Stil</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  <button class="add-button-style">Add</button>
                </mat-card-header>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="col-md-4 col-sm-4">
        <mat-card id="search-key">
          <img src="../../assets/imgs/search.jpg" width="230" height="auto" class="ml-5 mt-4">
        </mat-card>
      </div>
    </div>
  </div>
</div>

