
<div class="profil-page">
  <app-navbar></app-navbar>

  <!--------------------PERSONALIZE MODAL------------------------>
  <div class="modal fade" id="modalperso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <app-profil-perso></app-profil-perso>
  </div>


  <!-------------------------------------DESKTOP------------------------------------>
  <div class="container-fluid d-flex justify-content-end desktopshow">
    <div  class="row d-flex justify-content-center quick-profil-row desktopshow">
      <div class="col-12 col-md-12 desktopshow">
        <mat-card class="row card-contain d-flex justify-content-center padding-0 desktopshow">
          <mat-card-header class="col-md-12 col-sm-12 card-head d-flex justify-content-center padding-0 desktopshow">
            <div class="container-fluid desktopshow">
              <div class="row mt-4">
                <div class="col-12 col-md-5 col-sm-5 d-flex justify-content-end align-items-center">
                  <div class="user-avatar"></div>
                </div>
                <mat-card-content class="col-12 col-sm-7 col-md-7 d-flex justify-content-start padding-0">
                  <mat-card-title class="container-fluid d-flex align-items-center">
                      <div class="row row-100">
                        <div class="col-md-12 col-sm-12">
                          <div class="row">
                            <div class="col-md-10 h4">{{currentUser.username}}</div>
                          </div>
                          <div class="row">
                            <div class="col-md-10 activity">{{currentUser.secteur}}</div>
                          </div>
                        </div>
                      </div>
                  </mat-card-title>
                </mat-card-content>
              </div>
            </div>
          </mat-card-header>
        </mat-card>
        <div class="row dashbord-row mt-4">
          <div class="col-md-12 d-flex justify-content-center">
            <ul class="desktopshow snip1135">
              <li class="text-center"><a href="#" data-hover="Posts"><font class="h5">25</font><br/>Posts</a></li>
              <li class="text-center"><a href="#" data-hover="Purchases"><font class="h5">12</font><br/>Purchases</a></li>
              <li class="text-center"><a href="#" data-hover="Sales"><font class="h5">125</font><br/>Sales</a></li>
              <li class="text-center"><a href="#" data-hover="Alert"><font class="h5">6</font><br/>Alerts</a></li>
              <li class="text-center"><a href="#" data-hover="Contact"><font class="h5">2135</font><br/>Relationships</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="accordion acc-fix" id="accordionBio">
    <div class="card card-accordion col-md-12">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="card-header titreS" id="headingOne">
            <a class="card-link text-head text-left" data-toggle="collapse" href="#collapseOne">
              <div class="col-md-12"><font size="2" color="#dcdde1">BIOGRAPHY...</font></div>
            </a>
      </div>
      </button>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionBio">
        <div class="card-body">
          <div class="container-fluid containList">
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon1"><i class="fas fa-university"></i></span>&nbsp;studied at: </font></div><font class="info-result">FST MANAR</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon2"><i class="fas fa-briefcase"></i></span>&nbsp;Work at: </font></div><font class="info-result">abidjan</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon3"><i class="fas fa-user-tie"></i></span>&nbsp;Job: </font></div><font class="info-result">Web Developer</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon4"><i class="fas fa-map-marker-alt"></i></span>&nbsp;Location: </font></div><font class="info-result">Tunis wardia</font>
              </div>
            </div>
            <div class="row info-row">
              <div class="">
                <div><font class="row-title" size="2"><span id="row-title-icon5"><i class="fas fa-user-tie"></i></span>&nbsp;Interest: </font></div><font class="info-result">Design and Tech</font>
              </div>
            </div>
            <div class="row close-row d-flex justify-content-center text-center">
              <div class="">
                <div><font class="close-row-title text-center" size="2"><span id="row-title-icon"><i class="fas fa-user-edit"></i></span>&nbsp;EDIT </font></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-accordion col-md-12" id="card-accordion">
      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header titreS2" id="headingTwo">
          <a class="card-link text-head text-left" data-toggle="collapse" href="#collapseTwo">
            <div class="col-md-12" ><font size="2" color="#dcdde1">STORIES...</font></div>
          </a>
        </div>
      </button>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionBio">
        <div class="card-body">
          <div class="container-fluid containList">
            <div class="row stories-row">
              <div class="col-md-12 d-flex justify-content-start align-items-center storiesContain">
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <div class="hover01">
                  <div>
                    <figure><img src="../../assets/imgs/portsaid.jpg" class="storieBull"/></figure>
                  </div>
                </div>
                <font size="5">...</font>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid d-flex justify-content-end desktopshow">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-9 col-sm-9 desktopshow">
        <app-profil-post></app-profil-post>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-end desktopshow">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-9 col-sm-9 desktopshow">
        <app-profil-purchases></app-profil-purchases>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-end desktopshow">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-9 col-sm-9 desktopshow">
        <app-profil-sales></app-profil-sales>
      </div>
    </div>
  </div>
  <div class="container-fluid d-flex justify-content-end">
    <div class="row d-flex justify-content-end">
      <div class="col-12 col-md-9 col-sm-9 desktopshow">
        <app-profil-alerts></app-profil-alerts>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row d-flex justify-content-end padding-0">
      <div class="col-12 col-md-9 col-sm-9 desktopshow">
        <app-profil-relationships></app-profil-relationships>
      </div>
    </div>
  </div>
  <button class="btn-perso-style desktopshow" data-toggle="modal" data-target="#modalperso">
    <img class="black" src="../../assets/imgs/icons/pen-black.png" width="25" height="25">
    <img class="white" src="../../assets/imgs/icons/pen-white.png" width="25" height="25">
  </button>





  <!----------------------------------------MOBILE-------------------------------------->
  <!----------------Modals------------------>
  <div class="modal" id="modalPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content padding-0">
        <div class="modal-body bg-dark">
          <div class="row">
            <div class="col-12">
              <img src="../../assets/imgs/simu5.jpg" width="100%" height="auto"/>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <div class="container validation-container">
            <div class="row validation-row">
              <div class="col-12 d-flex justify-content-end align-items-center validation-col">
                <button class="cancel bg-dark" data-dismiss="modal"><img src="../../assets/imgs/icons/short-close-white.png"/></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="mobileshow">
    <div class="row pt-4 bg-white border-none">
      <div class="col-12 d-flex justify-content-center">
        <div class="col-auto user-avatar"></div>
        <div class="col-auto padding-0 d-flex align-items-center">
          <ul class="nav justify-content-left p-0" style="width:100%">
            <li class="nav-item li-link li-style">
              <button class="nav-link text-center btn-style title-shortcut" type="button">
                <font class="h6">225</font><br>
                <font class="title-ss" color="gray">Posts</font>
              </button>
            </li>
            <li class="nav-item li-link">
              <button class="nav-link text-center title-shortcut" type="button">
                <font class="h6">32</font><br>
                <font class="title-ss" color="gray">Purchases</font>
              </button>
            </li>
            <li class="nav-item li-link">
              <button class="nav-link text-center title-shortcut" type="button">
                <font class="h6">86</font><br>
                <font class="title-ss" color="gray">Sales</font>
              </button>
            </li>
            <li class="nav-item li-link">
              <button class="nav-link text-center title-shortcut" type="button">
                <font class="h6">12</font><br>
                <font class="title-ss" color="gray">Alerts</font>
              </button>
            </li>
            <li class="nav-item li-link">
              <button class="nav-link text-center title-shortcut" type="button">
                <font class="h6">4036</font><br>
                <font class="title-ss" color="gray">Friends</font>
              </button>
            </li>
          </ul>
        </div>
        <button mat-button class="mb-option-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="../../assets/imgs/icons/t-option-black.png" width="18px" height="18px">
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <div class="container">
            <div class="row mb-2">
              <div class="col-3">
                <div id="option-biography-icon"></div>
              </div>
              <div class="col-9">
                <font size="2">Biography</font>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div id="option-stories-icon">
                  <img class="add-story-icon" src="../../assets/imgs/icons/short-black-c-add.png" width="17px">
                </div>
              </div>
              <div class="col-9">
                <font size="2">My stories</font>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <div class="row pt-4 bg-white border-none">
      <div class="col-12 d-flex justify-content-center">
        <font class="h4">Joseph Terence Adai</font>
      </div>
    </div>
    <div class="row pt-0 bg-white border-none">
      <div class="col-12 text-center desciption-col">
        <font color="gray" size="2">Microsoft CTO in USA</font>
      </div>
    </div>
    <div class="row bg-white border-none">
      <div class="col-12 d-flex justify-content-center">
        <font size="2" color="gray">Mode</font>
      </div>
    </div>
    <div class="row pt-4 bg-white">
      <div class="col-12 d-flex justify-content-center p-0">
        <ul class="nav  justify-content-center p-0 mb-nav" style="width:100%; ">
          <li class="nav-item li-link" >
            <button mat-button class="nav-link" type="button">
              <font size="3">POSTS</font>
            </button>
          </li>
          <li class="nav-item li-link" >
            <button mat-button class="nav-link" type="button">
              <font size="3">PURCHASES</font>
            </button>
          </li>
          <li class="nav-item li-link" >
            <button mat-button class="nav-link" type="button">
              <font size="3">RELATIONSHIPS</font>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row bg-white">
      <font size="2" class="ml-2 mt-1">Last stories</font>
      <div id="mobile-stories">
        <div class="row storiesContain pl-3 mb-2">
          <button class="my-story-btn">
            <figure>
              <div mat-card-avatar class="storybull">
                <font class="create-story d-flex align-items-center"><img src="../../assets/imgs/icons/short-add-white.png"/></font>
              </div>
            </figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
          <button class="story-btn">
            <figure><div mat-card-avatar class="storybull"></div></figure>
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-2 pt-0 pb-0">
      <div class="col-12 bio-div">
        <button class="mb-bio-btn">
          <img src="../../assets/imgs/information.png" width="20px">
          <font size="2">&nbsp;&nbsp;BIOGRAPHY</font>
        </button>

        <div class="row bio-list">
          <div class="col-12 mb-1">
            <div class="container">
              <div class="row">
                <div class="col-12"><font size="2" color="gray">Studied at:</font></div>
                <div class="col-12"><font size="4">Fst tunis El manar</font></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1">
            <div class="container">
              <div class="row">
                <div class="col-12"><font size="2" color="gray">Work at:</font></div>
                <div class="col-12"><font size="4">Amonak</font></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1">
            <div class="container">
              <div class="row">
                <div class="col-12"><font size="2" color="gray">Current job:</font></div>
                <div class="col-12"><font size="4">Web designer</font></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1">
            <div class="container">
              <div class="row">
                <div class="col-12"><font size="2" color="gray">Adress:</font></div>
                <div class="col-12"><font size="4">Tunis wardia</font></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1">
            <div class="container">
              <div class="row">
                <div class="col-12"><font size="2" color="gray">Interest:</font></div>
                <div class="col-12"><font size="4">Art & Design</font></div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-1 mt-2">
            <button routerLink="/edit" mat-button class="mb-edit-btn">EDIT</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 mb-1 bg-white pb-3">
      <div class="col-12 pl-0">
        <font size="2" class="ml-2 mt-1">Photos</font>
      </div>
      <div class="col-4 mt-2">
        <div class="imgs-published" data-toggle="modal" data-target="#modalPhoto"></div>
      </div>
      <div class="col-4 mt-2">
        <div class="imgs-published" data-toggle="modal" data-target="#modalPhoto"></div>
      </div>
      <div class="col-4 mt-2">
        <div class="imgs-published" data-toggle="modal" data-target="#modalPhoto"></div>
      </div>
      <div class="col-4 mt-2">
        <div class="imgs-published" data-toggle="modal" data-target="#modalPhoto"></div>
      </div>
      <div class="col-4 mt-2">
        <div class="imgs-published" data-toggle="modal" data-target="#modalPhoto"></div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 d-flex justify-content-center p-0" id="posts-nav">
        <ul class="nav justify-content-center p-0 bg-white post-nav" style="width:100%;">
          <li class="nav-item li-link">
            <button mat-button class="nav-link" type="button">
              <font size="3">Posts</font>
            </button>
          </li>
          <li class="nav-item li-link">
            <button mat-button class="nav-link" type="button">
              <font size="3">Sales</font>
            </button>
          </li>
          <li class="nav-item li-link" >
            <button mat-button class="nav-link" type="button">
              <font size="3">alerts</font>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5">
     <div class="col-12 p-0">
       <app-profil-post></app-profil-post>
     </div>
      <div class="col-12 p-0">
        <app-profil-sales></app-profil-sales>
      </div>
      <div class="col-12 p-0">
        <app-profil-alerts></app-profil-alerts>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 p-0">
        <app-profil-purchases></app-profil-purchases>
      </div>
    </div>
    <div class="row p-0 mt-5">
      <div class="col-12 p-0">
        <app-profil-relationships></app-profil-relationships>
      </div>
    </div>
  </div>
</div>

