<div class="container fixed-bottom mobile-navbar nvbr-bottom">
  <div class="row nav-row">
    <div routerLink="/home" class="d-flex items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/home-black.png" width="25" height="25">
    </div>
    <div routerLink="/world" class="d-flex items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/world.png" width="25" height="25">
    </div>
    <div class="d-flex items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/add-black.png" width="25" height="25">
    </div>
    <div routerLink="/chats" class="d-flex items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/chat.png" width="25" height="25">
      <!--      <div class="point" onclick="style='display:none;'"><i class="fas fa-circle"></i></div>-->
    </div>
    <div class="d-flex items-col justify-content-center align-items-center">
      <div class="avatar-bottom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <app-window-more></app-window-more>
      </ul>
    </div>
  </div>
</div>
