<div class="row d-flex justify-content-center p-5">
  <div class="col-12 col-md-12 col-lg-12">
    <mat-card class="text-center top-card">
      <font size="7" class="topTitle">Top 10 products</font>
      <hr align="center" class="line" width="12%" color="#f33535" size="3">
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-12 col-lg-12 pb-5">
    <div style="text-align:center">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../assets/imgs/simu1.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu4.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu5.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu3.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu6.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu4.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu5.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu7.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu1.jpg" width="200px" height="200px"></ng-template>
        <ng-template carouselSlide><img src="../../assets/imgs/simu3.jpg" width="200px" height="200px"></ng-template>
      </owl-carousel-o>
      <div>Scroll to see more</div>
    </div>
  </div>
</div>

