<mat-card class="container-fluid pt-5 pb-5 mb-4">
  <div class="row mb-4">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h5">
      MAKE A DELIVERY REQUEST
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-8 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          Please fill the form and send your request to us. We will confirm to you the process launch shortly.
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
          <div class="row mt-4">
            <div class="col-12 col-md-5 col-sm-5 d-flex align-items-center">
              <button class="btn-style d-flex justify-content-start"><img src="../../assets/imgs/icons/calendar.png" width="20" height="20">&nbsp;Schedule the time</button>
            </div>
            <div class="col-12 col-md-7 col-sm-7 d-flex align-items-center default-time">
              Default: 01/01/2020 at 3pm
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-md-5 col-sm-5 d-flex align-items-center">
              <button class="btn-style d-flex justify-content-start"><img src="../../assets/imgs/icons/location.png" width="20" height="20">&nbsp;Your location</button>
            </div>
            <div class="col-12 col-md-7 col-sm-7 d-flex align-items-center default-time">
              Default: Tunis, 12 avenue
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-md-5 col-sm-5 d-flex align-items-center">
              <button class="btn-style d-flex justify-content-start"><img src="../../assets/imgs/icons/add-image-white.png" width="20" height="20">&nbsp;Product image
                <input class="input-apload" type="file" name="file"/>
              </button>
            </div>
            <div class="col-12 col-md-7 col-sm-7 d-flex align-items-center default-time">
              aploaded file: empty
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <img src="../../assets/imgs/delivery.jpg" width="100%" height="auto">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-4 col-sm-4 col-xs-6 d-flex justify-content-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="perishable">
        <label class="form-check-label" for="perishable">Perishable</label>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-6 d-flex justify-content-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="short-time">
        <label class="form-check-label" for="short-time">Short time delivery</label>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-6 d-flex justify-content-center">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="long-time">
        <label class="form-check-label" for="short-time">Long time delivery</label>
      </div>
    </div>
  </div>
  <div class="row mt-4 type-row">
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio" checked>Less than 15Kg</label></button>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio">Less than 50kg</label></button>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-4 d-flex justify-content-start align-items-center">
      <button class="radio-style d-flex justify-content-center align-items-center"><label><input type="radio" name="optradio">Over 50kg</label></button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
      <button class="submit-style">Submit my request</button>
    </div>
  </div>
</mat-card>
