.btn-style{
height:40px;
width:100%;
border-radius:7px;
outline:none;
font-size:16px;
border:0px;
padding-left:20px;
background:#16a085;
color:white;
font-size:16px;
}

.input-apload {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}


.default-time{
font-size:14px;
color:#33425b;
}

.radio-style{
height:40px;
width:100%;
border-radius:7px;
outline:none;
font-size:15px;
border:0px;
padding-left:20px;
color:black;
font-size:16px;
background:#bae8e8;
}


.submit-style{
width:250px;
height:40px;
font-size:14px;
border-radius:5px;
border:1px solid #27ae60;
color:#27ae60;
background:none;
margin-top:25px;
}


.submit-style:hover{
background:#27ae60;
color:white;
transition:0.3s;
}

