.login-page{
  position: relative;
  right: 200px;
}


.nvbr{
  background-color: #e4d8f3;
  padding: 9px 0px 9px 0px ;
  height:auto;
  position:relative;
}
.is{
  position: relative;
  top: 30px;
  color:red;
  right: 5px;
}
.bak{
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;

  font-size: 30px;
  text-align: center;
}

.form-group1{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.form-group2{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}

ul{
  color: #2f3cf3;
  padding-top: 15px;
}
.foot-div{
  background: url(../../assets/imgs/home-footer.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}
