<div class="container">
  <div class="row d-flex justify-content-center">
    <ul class="nav  justify-content-end">
      <li class="nav-item">
        <button mat-button class="nav-link" >
          FRANCAIS
        </button>
      </li>
      <li class="nav-item">
        <button mat-button class="nav-link" >
          ENGLISH
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="container container-fluid">
  <div class="row">
  <button type="button" routerLink="/docs" routerLinkActive="active" class="btn btn-link" style="position:relative;color:white;left:400px">DOCUMENTATIONS</button>
  <button type="button"  routerLink="/partners" routerLinkActive="active" class="btn btn-link" style="position:relative;color:white;left:400px">PARTNERS</button>
  <button type="button"  routerLink="/help" routerLinkActive="active" class="btn btn-link"style="position:relative;color:white;left:400px">HELP</button>



  </div>
</div>
<!-- Copyright -->
<div class="footer-copyright text-center pt-3">Amonak © 2019
</div>
