<mat-card class="mt-3 pb-5">
  <div class="row text-left title-row d-flex justify-content-left align-items-center">
    <div class="col-12 col-md-12 col-sm-12 h3 title">My publications</div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="container-fluid">
        <div class="row category-row d-flex justify-content-center">
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <button class="button">
              <img src="../../assets/imgs/icons/edit-post.png" width="25" height="25">
              &nbsp;Posts
            </button>
          </div>
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <button class="button">
              <img src="../../assets/imgs/icons/edit-sell.png" width="25" height="25">
              &nbsp;&nbsp;Sales
            </button>
          </div>
          <div class="col-12 col-md-4 col-sm-4  category d-flex justify-content-center align-items-center" onclick="style='color:#7f8c8d;'">
            <button class="button">
              <img src="../../assets/imgs/icons/edit-alert.png" width="25" height="25">
              &nbsp;Alerts
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-sm-12">
      <div class="container">
        <app-edit-posts></app-edit-posts>
        <app-edit-sales></app-edit-sales>
        <app-edit-alerts></app-edit-alerts>
      </div>
    </div>
  </div>
</mat-card>
