.img-pub{
border:0.5px solid #283149;
border-radius:50%;
width:60px;
height:60px;
}

.subtitle{
  font-family: 'Muli', sans-serif;
  color: #283149;
  font-size:12px;
  margin-left:17px;
  margin-top:5px;
}

.pub-link{
  text-decoration:none;
}


.modal-dialog{
margin-top:200px;
}

.cancel{
background:#2980b9;
width:50%;
color:white;
}
