<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <!--          <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>-->
      <div class="container">
        <div class="row d-flex justify-content-center">
          Publications
        </div>
      </div>
    </div>
    <div class="modal-body mx-3">
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <a routerLink="/post-form" data-dismiss="modal" class="pub-link">
            <div class="img-pub d-flex justify-content-center align-items-center"><img src="../../assets/imgs/pen-post.png" width="35px" height="35px" class="publish-icon"></div>
            <div class="subtitle">Post</div>
          </a>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <a routerLink="/sell-form" data-dismiss="modal" class="pub-link">
            <div class="img-pub d-flex justify-content-center align-items-center"><img src="../../assets/imgs/basket-sell.png" width="35px" height="35px" class="publish-icon"></div>
            <div class="subtitle">Sell</div>
          </a>
        </div>
        <div class="col-4 d-flex justify-content-center">
          <a routerLink="/alert-form" data-dismiss="modal" class="pub-link">
            <div class="img-pub d-flex justify-content-center align-items-center"><img src="../../assets/imgs/megaphone.png" width="35px" height="35px" class="publish-icon"></div>
            <div class="subtitle">Alert</div>
          </a>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <div class="container validation-container">
        <div class="row validation-row">
          <div class="col-12 d-flex justify-content-end align-items-center validation-col">
            <button mat-button class="cancel" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!--<mat-card class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-4 justify-content-center">-->
<!--      <a routerLink="/post-form" class="pub-link">-->
<!--        <div class="img-pub d-flex justify-content-center align-items-center"><img src="../../assets/imgs/pen-post.png" width="40px" height="40px" class="publish-icon"></div>-->
<!--        <div class="subtitle">Post</div>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</mat-card>-->
