.modal-dialog{
background: none;
}


.nav{
border-right:1px solid silver;
}


.modal-content{
background: none;
border:0px;
padding:0px;
}

.modal-header{
height:50px;
border:0px;
color:white;
}

.modal-body{
background:white;
border:0px;
border-radius:3px;
}

.modal-footer{
border:0px;
padding-top:0px;
}

.close-icon{
font-size:14px;
position:absolute;
visibility:hidden;
color:#f33535;
}

.validation-container{
padding:0px;
margin-top:7px;
}

.validation-col{
padding:0px;
}

.btn-valid-post{
background:#2980b9;
width:20%;
color:white;
margin-right:15px;
}


.div-close-btn{
position:absolute;
right:-20px;
}


.modal-close-btn{
border-radius:50%;
color:#283149;
background:whitesmoke;
width:30px;
height:30px;
border:0px;
margin-top:60px;
outline:none !important;
}
