<div class="container-fluid mb-2">
  <div class="row">
    <div class="col-md-12"><font class="window-title">Notifications</font></div>
  </div>
</div>
<div id="frame">
  <div class="container-fluid padding-0">
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0">
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head ">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Alain kouadio</font> commented your post.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">19h30</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1" style="background:#f4f4f4 !important;">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Yassine Hamdaoui</font> liked your post.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">hier</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Joseph</font> answered your alert!!!</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Gadour</font> bought your product online</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Jean Philippe</font> booked your product.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro">You have a <font class="important">delivery</font> tomorrow. CONFIRM</mat-card-subtitle>
              <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Yassine Hamdaoui</font> liked your post.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">hier</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Joseph</font> answered your alert!!!</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Gadour</font> bought your product online</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Jean Philippe</font> booked your product.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Yassine Hamdaoui</font> liked your post.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">hier</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Joseph</font> answered your alert!!!</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Gadour</font> bought your product online</mat-card-subtitle>
              <mat-card-subtitle class="message-date">2 days ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center padding-row border-1">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row text-left">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="message-avatar"><font class="user-actif"><i class="fas fa-circle"></i></font></div>
              <mat-card-subtitle class="notification-intro"><font class="important">Jean Philippe</font> booked your product.</mat-card-subtitle>
              <mat-card-subtitle class="message-date">1 week ago</mat-card-subtitle>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
