.message-avatar {
    background-image: url('../../assets/imgs/woman.jpg');
    background-size: cover;
    width:50px;
    height:50px;
  }


.title-intro{
font-size:12px;
}




.message-date{
line-height:2px;
font-size:9px;
color:#283149;
}


.user-actif{
position:absolute;
color:#27ae60;
font-size:7px;
margin-top:2px;
}

.padding-row{
height:70px;
border-bottom:1px solid whitesmoke;
}

.padding-row:hover{
background:whitesmoke;
}

.window-title{
font-size:14px;
color:#283149;
}

.important{
font-size:14px;
color:#283149;
}

button{
background:none;
border:none !important;
outline:none;
width:100%;
}

@media screen and (min-width: 800px) {
#frame {
  min-height: calc(100% - 0vh);
  max-height: calc(70vh - 0vh);
  overflow-y: scroll;
  overflow-x: hidden;
}

#frame::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
}
