.img-perso-feed{
background:url("../../assets/imgs/publication.png");
background-size:cover;
height:50px;
width:50px;
}

.img-perso-block{
background:url("../../assets/imgs/squares.png");
background-size:cover;
height:50px;
width:50px;
}

.padding-0{
padding:0px;
}


.font-size-13{
font-size:13px;
}


.type-btn{
height:40px;
background:none;
border:0px;
outline:none;
padding-top:7px;
border-radius:4px;
color:#283149;
}
