<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 col-sm-6 padding-0 d-flex justify-content-center">
        <div class="container">
          <div class="row padding-0">
            <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center">
              <div class="img-perso-feed"></div>
            </div>
          </div>
          <div class="row padding-0">
            <div class="col-12 col-md-12 col-sm-12 padding-0 mt-3">
              <div class="d-flex justify-content-center">
                <button class="type-btn"><label><input type="radio" name="optradio">News feed</label></button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-sm-6">
      <div class="container">
        <div class="row padding-0">
          <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center">
            <div class="img-perso-block"></div>
          </div>
        </div>
        <div class="row padding-0">
          <div class="col-12 col-md-12 col-sm-12 padding-0">
            <div class="d-flex justify-content-center mt-3">
              <button class="type-btn"><label><input type="radio" name="optradio" checked>Block</label></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
