<div class="container-fluid">
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-12 col-md-7 col-sm-7">
      <app-post-publicity></app-post-publicity>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <div class="container-fluid post-date">
        <div class="row mt-3">
          <div class="col-md-12">DATE: <b>01/01/2020</b> at <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">HOUR: <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">VISITS: <b>350</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">TOUCHED: <b>1235</b></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-12 col-md-7 col-sm-7">
      <app-sell-publicity></app-sell-publicity>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <div class="container-fluid post-date">
        <div class="row mt-3">
          <div class="col-md-12">DATE: <b>01/01/2020</b> at <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">HOUR: <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">VISITS: <b>350</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">TOUCHED: <b>1235</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">BOOKING: <b>0</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">ONLINE PAYMENTS: <b>86</b></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mb-3">
    <div class="col-12 col-md-7 col-sm-7">
      <app-alert-publicity></app-alert-publicity>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <div class="container-fluid post-date">
        <div class="row mt-3">
          <div class="col-md-12">DATE: <b>01/01/2020</b> at <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">HOUR: <b>17:15 pm</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">VISITS: <b>350</b></div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">TOUCHED: <b>1235</b></div>
        </div>
        <div class="pl-4 col-10">
          ANSWERS: <b>2</b>
        </div>
      </div>
    </div>
  </div>
</div>
