<div class="container-fluid">
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-1">
      <button class="blue" [routerLink]="['/delivery/']" fragment="docs">Docs</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="orange" [routerLink]="['/delivery/']" fragment="request">Delivery request</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="blue" [routerLink]="['/delivery/']" fragment="del_follow">Follow a delivery</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="orange" [routerLink]="['/delivery/']" fragment="work_with_us">Work with us</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3">
      <button class="blue" [routerLink]="['/delivery/']" fragment="contact">Contact</button>
    </div>
  </div>
</div>
