<mat-card class="container-fluid pt-5 pb-5 mb-4">
  <div class="row mb-4">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h5">
      WORK WITH AMONAK <br><font class="prior">No diploma required. Just need for advanced knowledge.</font>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8 col-sm-8">
      Hey!!!<br>
      You are a <b>passionated</b> and you wanna <b>join Amonak</b> team ? <b>Improve</b>
      your skills ? Live a <b>unique experience</b> and <b>change the world</b> ?<br>
      let us get to know you and let's look at the future together!
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <img src="../../assets/imgs/team1.jpg" width="100%" height="auto">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-8 col-sm-8 col-xs-12">
      <mat-form-field class="li-link">
        <select class="nav-link" matNativeControl>
          <option class="statut-option" disabled value="null">YOUR SPECIALITY:...</option>
          <option class="cible-option" value="french">ADMINISTRATION</option>
          <option class="cible-option" value="french">DELIVERY</option>
          <option class="cible-option" value="french">DESIGN</option>
          <option class="cible-option" value="french">FINANCE</option>
          <option class="cible-option" value="french">LAW</option>
          <option class="cible-option" value="french">MARKETING</option>
          <option class="cible-option" value="french">MANAGEMENT</option>
          <option class="cible-option" value="french">SECRETARY</option>
          <option class="cible-option" value="french">WEB DEVELOPMENT</option>
          <option class="cible-option" value="french">OTHER</option>
        </select>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4 col-sm-4 col-xs-12">
      <input class="input-style" type="number" name="product-code" placeholder="Specify if other...">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
      <textarea class="area-style" placeholder="Tell us more about you and what can you do..."></textarea>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
      <input type="file" name="apply-file">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
      <button class="submit-style">Apply now</button>
    </div>
  </div>
</mat-card>
