<div class="container-fluid desktopshow">
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/follow-pub.png" width="22px" height="22px">
    </div>
    <div class="col-8">Follow</div>
  </div>
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/signal.png" width="22px" height="22px">
    </div>
      <div class="col-8">Signal</div>
  </div>
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/add-outline.png" width="22px" height="22px">
    </div>
    <div class="col-8">Save</div>
  </div>
</div>

<div class="container-fluid mobileshow">
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/follow-pub.png" width="25px" height="25px">
    </div>
    <div class="col-8">Follow</div>
  </div>
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/signal.png" width="25px" height="25px">
    </div>
    <div class="col-8">Signal</div>
  </div>
  <div class="row option-link d-flex align-items-center">
    <div class="col-3">
      <img src="../../assets/imgs/icons/add-outline.png" width="25px" height="25px">
    </div>
    <div class="col-8">Save</div>
  </div>
</div>
