.more-avatar{
width:30px;
height:30px;
margin-top:-5px;
}

.more-profil{
background-image: url('../../assets/imgs/man.jpg');
background-size: cover;
}

.more-premium{
background-image: url('../../assets/imgs/premium.png');
background-size: cover;
}

.more-publicity{
background-image: url('../../assets/imgs/ads.png');
background-size: cover;
}

.more-delivery{
background-image: url('../../assets/imgs/delivery.png');
background-size: cover;
}

.more-disconnect{
background-image: url('../../assets/imgs/off.png');
background-size: cover;
}

.more-edit{
background-image: url('../../assets/imgs/setting.png');
background-size: cover;
}

.window-title{
font-size:14px;
color:#283149;
}


.notification-intro{
font-size:13px;
}

.more-row{
height:45px;
}


.more-row:hover{
background:whitesmoke;
}

.card-head{
margin-top:10px;
}

button{
background:none;
border:none !important;
outline:none;
}
