<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"><font class="window-title">More</font></div>
  </div>
</div>
<li>
  <div class="container-fluid padding-0">
    <div class="row option-link d-flex align-items-center more-row border-1" routerLink="/profile">
      <div class="col-12 col-md-14 col-sm-14 d-flex align-items-center padding-0" >
        <button class="container-fluid padding-0">
          <div class="row d-flex align-items-center">
            <mat-card-header class="card-head d-flex align-items-center">
              <div mat-card-avatar class="more-avatar more-profil"></div>
              <mat-card-title class="notification-intro">Profil</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center more-row border-1" routerLink="/premium">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="more-avatar more-premium"></div>
              <mat-card-title class="notification-intro">Premium</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center more-row border-1" routerLink="/publicity">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="more-avatar more-publicity"></div>
              <mat-card-title class="notification-intro">Publicity</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center more-row border-1" routerLink="/delivery">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="more-avatar more-delivery"></div>
              <mat-card-title class="notification-intro">Delivery</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center more-row border-1" routerLink="/edit">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="more-avatar more-edit"></div>
              <mat-card-title class="notification-intro">Edit</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
    <div class="row option-link d-flex align-items-center more-row border-1" (click)="signOut()">
      <div class="col-12 col-md-14 col-sm-14 padding-0" >
        <button class="container-fluid padding-0" >
          <div class="row">
            <mat-card-header class="card-head">
              <div mat-card-avatar class="more-avatar more-disconnect"></div>
              <mat-card-title class="notification-intro">Sign out</mat-card-title>
            </mat-card-header>
          </div>
        </button>
      </div>
    </div>
  </div>
</li>
