<div class="container-fluid padding-0" id="desktopshow">
  <div class="row">
    <div class="col-md-12 col-sm-12 d-flex justify-content-center mb-2 mt-5">
      <form class="">
        <input class="searchBar" type="search" placeholder="  Search..." aria-label="Search">
      </form>
    </div>
  </div>
  <div class="row friend-list-row d-flex justify-content-start">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">mode</font><br>Issouf Bakayoko</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">mode</font><br>Issouf Bakayoko</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Consulting & training</font><br>Joseph Adai</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 friend-list-col d-flex justify-content-center">
      <div class="friend-design d-flex justify-content-center">
        <div class="friend-avatar"></div>
        <button mat-button class="option-desc" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-dot-circle"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <app-profil-relationships-option></app-profil-relationships-option>
        </ul>
        <mat-card-title class="friend-username"><font class="friend-activity">Health & wellbeing</font><br>Dereck Kouakou</mat-card-title>
      </div>
    </div>
  </div>
</div>

<!-------------------------------------------------Mobile---------------------------------------------------------->
<!------------------------------------------------------------------------------------------------------------------>

<mat-card class="container mt-3 mb-5 pb-5 contain-relationships" id="mobileshow">
  <div class="row mt-2">
    <div class="col-12 d-flex justify-content-center">
      <input class="mb-r-searchBar" type="search" placeholder="  Search..." aria-label="Search">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-3">
      <div class="friendAvatar"></div>
    </div>
    <div class="col-9 pl-0 d-flex align-items-center">
      <div class="container p-0">
        <div class="row">
          <div class="col-12"><font size="4">Jean Philippe Kokora</font></div>
        </div>
        <div class="row">
          <div class="col-12"><font size="3" color="gray">IT & Technology</font></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <div class="friendAvatar"></div>
    </div>
    <div class="col-9 pl-0 d-flex align-items-center">
      <div class="container p-0">
        <div class="row">
          <div class="col-12"><font size="4">Somboro Bernard</font></div>
        </div>
        <div class="row">
          <div class="col-12"><font size="3" color="gray">IT & Technology</font></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-3">
      <div class="friendAvatar"></div>
    </div>
    <div class="col-9 pl-0 d-flex align-items-center">
      <div class="container p-0">
        <div class="row">
          <div class="col-12"><font size="4">Yves Saint Laurent</font></div>
        </div>
        <div class="row">
          <div class="col-12"><font size="3" color="gray">IT & Technology</font></div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
