<div class="publicity-page" id="frame">
  <!-- <app-default-navbar></app-default-navbar> -->
  <app-navbar></app-navbar>

  <div class="container contain-page padding-l">
    <div class="row padding-l">
      <div class="col-md-2 col-sm-2 padding-l">
        <app-nav-publicity class="position-fixed" (fragment)="show($event)"></app-nav-publicity>
      </div>
      <div class="col-md-9 col-sm-10" [ngSwitch]="fragment">
        <app-pub-premium id="pub_info" *ngSwitchDefault></app-pub-premium>
        <app-publicity-sponsoring id="pub_sponsoring" *ngSwitchCase="'pub_sponsoring'"></app-publicity-sponsoring>
      </div>
    </div>
  </div>
</div>




<!-------------------------------------------------------------------------------------------->
<!-----------------------------------MOBILE--------------------------------------------------->
<div class="publicity-page" id="mobileshow">
  <app-mobile-navbar></app-mobile-navbar>
  <div id="mb-nav-frame">
    <div class="row d-flex justify-content-center mt-3 mb-frame-row pl-4">
      <button class="btn-style">PREMIUM PUBLICATION</button>
      <button class="btn-style">SPONSORING & SPOT</button>
    </div>
  </div>
  <mat-card class="mt-3 mb-5 pb-5 pt-4">
    <mat-card-header>
      <div class="row">
        <div class="col-7 h5 d-flex align-items-center">Premium publication</div>
        <div class="col-5"><img src="../../assets/imgs/prem.jpg" width="100%" height="auto"></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 15 days. After 15 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page</li>
        <li>Visible the classification of product and services on the user home.</li>
      </ol>
    </mat-card-content>
    <mat-card-header>
      <button routerLink="/premium-ad-form" class="bull">AD</button>
      <button routerLink="/premium-sell-form" class="bull">SELL</button>
      <button routerLink="/premium-alert-form" class="bull">ALERT</button>
    </mat-card-header>
  </mat-card>

  <mat-card class="mb-5 mt-3 pb-5 pt-4">
    <mat-card-header>
      <div class="row">
        <div class="col-7 h5 d-flex align-items-center">Sponsoring</div>
        <div class="col-5"><img src="../../assets/imgs/get-pre.jpg" width="100%" height="auto"></div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <font size="4">Mini:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 7 days. After 7 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: continent</li>
        <li>Cost: 5$</li>
      </ol>
      <font size="4">Default:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 16 days. After 16 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: continent</li>
        <li>Cost: 10$</li>
      </ol>
      <font size="4">Supreme:</font>
      <ol>
        <li>You choose the visibility field of your publications.</li>
        <li>Valid and visible for 25 days. After 25 days, it's valid just by your network.</li>
        <li>This publication is visible by the visitors on the Amonak welcome page at first publication</li>
        <li>Visible the classification of product and services on the user home at first publications.</li>
        <li>Visible several in the newsfeed and in the first publications.</li>
        <li>Max visibility: all users.</li>
        <li>Cost: 18$</li>
      </ol>
    </mat-card-content>
    <mat-card-content class="pt-3">
      <div class="col-12 h6 mt-5 text-gray">YOUR COMPANY</div>
      <div class="col-12">
        <textarea class="sponso-area" type="text" name="text-sponsoring" placeholder="Your message..."></textarea>
      </div>
      <div class="col-12">
        <mat-form-field class="li-link">
          <select class="nav-link" matNativeControl>
            <option class="statut-option" disabled value="null">YOUR STATUS</option>
            <option class="cible-option" value="french">ASSOCIATION</option>
            <option class="cible-option" value="french">COMPANY</option>
            <option class="cible-option" value="french">FREELANCE</option>
            <option class="cible-option" value="french">MARK</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field class="li-link">
          <select class="nav-link" matNativeControl>
            <option class="statut-option" disabled value="null">BUDGET</option>
            <option class="cible-option" value="french">MINI</option>
            <option class="cible-option" value="french">DEFAULT</option>
            <option class="cible-option" value="french">SUPREME</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-12 h6 mt-5 text-gray">YOUR TARGET</div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="li-link">
              <select class="nav-link" matNativeControl>
                <option class="size-option" value="null" disabled>SIZE</option>
                <option class="size-option" value="english">ALL</option>
                <option class="size-option" value="english">AFRICA</option>
                <option class="size-option" value="french">ASIA</option>
                <option class="size-option" value="french">AMERICA</option>
                <option class="size-option" value="french">ANTARTIC</option>
                <option class="size-option" value="french">EUROPE</option>
                <option class="size-option" value="french">OCEANIA</option>
              </select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="li-link">
              <select class="nav-link" matNativeControl>
                <option class="statut-option" disabled value="null">SOCIAL STATUS</option>
                <option class="cible-option" value="all">All</option>
                <option class="cible-option" value="french">Student</option>
                <option class="cible-option" value="french">Workers</option>
                <option class="cible-option" value="french">Retired</option>
              </select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-4">
            <input class="input-style" type="text" name="sponsorised-link" placeholder="Add a link...">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 h6 mt-5 text-gray">FINALIZE</div>
          <div class="col-12">
            <input class="input-style card-number mb-4" type="number" maxlength="16" placeholder="Card number">
          </div>
          <div class="col-12 mb-2"><input class="input-style expiration" type="number" maxlength="7" placeholder="Expiration date mm/aaaa"></div>
          <div class="col-12 mb-5"><input class="input-style card-number" type="number" maxlength="4" placeholder="CVC code"></div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-end mb-4"><button class="btn-sponso">Submit my sponsoring</button></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
