<div id="search-bar">
  <form>
    <input class="pl-4 searchBarStyle" type="text" placeholder="search...">
  </form>
</div>
<div id="top-bar">
  <button id="area"><img src="../../assets/imgs/icons/area-sm.png"> &nbsp;<span>Areas</span></button>
  <button id="type"><img src="../../assets/imgs/icons/category-sm-white.png"> &nbsp;<span>Types</span></button>
</div>
<div id="frame">
  <div class="row pl-4 frame-row">
    <button class="btn-style">AFRIQUE</button>
    <button class="btn-style">EUROPE</button>
    <button class="btn-style">AMERICA</button>
    <button class="btn-style">ASIA</button>
    <button class="btn-style">OCEANIA</button>
    <button class="btn-style">ANTARTIC</button>
    <button class="btn-style">TUNISIA</button>
  </div>
  <div class="row pl-4 frame-row">
    <button class="btn-style">AGRI-FOOD</button>
    <button class="btn-style">MODE</button>
    <button class="btn-style">ANIMALS</button>
    <button class="btn-style">IT-TECH</button>
    <button class="btn-style">IMMOVABLE</button>
    <button class="btn-style">STATIONNERY</button>
    <button class="btn-style">HEALTH & WELLBEING</button>
  </div>
</div>
<mat-card>
  <div class="row nav-row d-flex justify-content-center align-items-center">
    <div class="col-auto col-link">
      <button class="blue">Posts</button>
    </div>
    <div class="col-auto col-link">
      <button class="orange">Sales</button>
    </div>
    <div class="col-auto col-link">
      <button class="blue">Alerts</button>
    </div>
  </div>
</mat-card>
