<mat-card routerLink="/profile" class="row mt-2 go-to-profil">
  <button class="gtp-btn">
    <mat-card-header class="card-head">
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title class="username margin-style"><font size="2">{{currentUser.username}}</font></mat-card-title>
      <mat-card-subtitle class="cat-user margin-style d-flex text-left justify-content-start">{{currentUser.secteur}}</mat-card-subtitle>
    </mat-card-header>
  </button>
</mat-card>
<div id="mobile-stories" class="mb-2">
  <font size="1">Stories</font>
  <div class="row storiesContain pl-3">
    <button class="my-story-btn">
      <figure>
        <div mat-card-avatar class="storybull">
          <font class="create-story d-flex align-items-center"><img src="../../assets/imgs/icons/short-add-white.png"/></font>
        </div>
      </figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>
    <button class="story-btn hover01">
      <figure><div mat-card-avatar class="storybull"></div></figure>
    </button>

  </div>
</div>

<mat-card class="row accordion head-row" id="accordionExample">
  <mat-card-header class="card btn btn-accordion card-accordion col-md-12 d-flex align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    <img class="addlist-img" src="../../assets/imgs/suggestion.png" width="21px" height="21px"/>
    <mat-card-title class="suggestion-title" data-toggle="collapse">Suggestions</mat-card-title>
  </mat-card-header>
</mat-card>

<div class="accordion row accordionFrame" id="accordionExample padding-0">
  <div class="card card-accordion col-md-12 border-0">
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <div class="container-fluid containList padding-0" >
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="ml-0 username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
          <div class="row user-row">
            <div class="col-12 col-md-14 col-sm-14 padding-0" >
              <div class="container-fluid padding-0" >
                <div class="row">
                  <mat-card-header class="card-head">
                    <div mat-card-avatar class="avatar"></div>
                    <mat-card-title class="username">Jean Philippe Kokora</mat-card-title>
                    <mat-card-subtitle class="cat-fiend">Mode</mat-card-subtitle>
                    <button class="add-friend d-flex align-items-center justify-content-center" ><img src="../../assets/imgs/icons/short-add-white.png"></button>
                  </mat-card-header>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
