<mat-card class="container premium-form pt-5 pb-5 mb-4">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 h5">
      GET YOUR PREMIUM ACCESS
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12">
          <input class="premium-input card-number" type="number" maxlength="16" placeholder="Card number">
          <div class="row mt-3">
            <div class="col-md-12 col-sm-12 col-xs-12"><input class="premium-input expiration" type="number" maxlength="7" placeholder="Expiration date mm/aaaa"></div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-sm-4">
          <img src="../../assets/imgs/get-pre.jpg" width="100%" height="auto">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"><input class="premium-input card-number" type="number" maxlength="4" placeholder="CVC code"></div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-end"><button class="submit-style">Get your pass</button></div>
  </div>
</mat-card>
