<nav class="navbar mobile-navbar nvbr">
  <a routerLink="/home" class="navbar-brand d-flex justify-items-center" style="margin-left: 20px">
    <img src="../../assets/imgs/white-l.png" width="40" height="35" class="d-inline-block align-top align-start" alt="">
  </a>

  <div>
    <ul class="nav">
      <li class="nav-item right-5">
        <button mat-button routerLink="/world" class="nav-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="../../assets/imgs/icons/white-search.png" width="27px">
        </button>
      </li>
      <li class="nav-item right-5">
        <button mat-button routerLink="/notifications" class="nav-link ml-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="../../assets/imgs/icons/notification-white.png" width="27px">
          <div id="signalPoint"><i class="fas fa-circle"></i></div>
        </button>
      </li>
    </ul>
  </div>
</nav>

<div class="modal fade" id="modalPublish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <app-mobile-publications-modal></app-mobile-publications-modal>
</div>
<div class="container fixed-bottom mobile-navbar nvbr-bottom">
  <div class="row nav-row">
    <div routerLink="/home" class="d-flex mt-2 items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/home-black.png" width="27px">
    </div>
    <div routerLink="/world" class="d-flex mt-2 items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/world.png" width="27px">
    </div>
    <div class="d-flex mt-2 items-col justify-content-center align-items-center" data-toggle="modal" data-target="#modalPublish">
      <img src="../../assets/imgs/icons/add-black.png" width="27px">
    </div>
    <div routerLink="/chats" class="d-flex mt-2 items-col justify-content-center align-items-center">
      <img src="../../assets/imgs/icons/chat.png" width="27px">
<!--      <div class="point" onclick="style='display:none;'"><i class="fas fa-circle"></i></div>-->
    </div>
    <div class="d-flex items-col justify-content-center align-items-center">
      <div class="avatar-bottom mb-1 mt-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <app-window-more></app-window-more>
      </ul>
    </div>
  </div>
</div>
