
.nvbr{
  background-color: #283149;
  padding: 9px 0px 9px 0px ;
  height:64px;
}

.nvbr li a{
  color: white;
  font-size: 14px;
}


.nvbr-bottom{
background-color: white;
padding:0px;
height:auto !important;
box-shadow:1px 0px 1px 0px gray;
padding-top:3px;
padding-bottom:3px;
}

.nav-row{
padding-top:0px;
padding-bottom:0px;
padding-left:15px;
padding-right:15px;
height:100%;
}


.avatar-bottom{
background:url("../../assets/imgs/man.jpg");
background-size:cover;
height:35px;
width:35px;
border-radius:50%;
}


.items-col{
height:100%;
width:20%;
outline:none;
}


.search-form{
width:51%;
margin-left:0px;
}

.mobile-searchBar{
    border: none;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    outline: none !important;
    background: #E6ECF0;
    padding-left:15px;
    margin-left:0px;
    font-size:13px;
}


.nav{
padding-right:60px;
}

.nav-link{
color: whitesmoke;
font-size:15px;
outline:none;
}


#signalPoint{
    font-size: 5px;
    text-align: center;
    color: red;
    margin-top:-15px;
    margin-bottom:-15px;
    padding:0px;
    outline:none;
}


.dropdown-menu{
margin-bottom:4px;
}




.point{
    font-size: 6px;
    text-align: center;
    color: red;
    margin-top:-9px;
    margin-left:13px;
    padding:0px;
    outline:none;
    position:absolute;
}


.message-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    width:50px;
    height:50px;
  }


.title-intro{
font-size:12px;
}


.signal-receive{
color:#2980b9;
font-size:6px;
position:absolute;
margin-top:5px;
}


.message-date{
line-height:2px;
font-size:9px;
color:#283149;
}


.window-title{
font-size:14px;
color:#283149;
}

.important{
font-size:14px;
color:#283149;
}

.notification-intro{
font-size:13px;
}





.right-5{
margin-right:-40px;
}



