<mat-card class="container-fluid pt-5 pb-5 mt-4 mb-4">
  <div class="row mb-4">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 h5">
      CONTACT AMONAK
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-md-8 col-sm-8 col-xs-8 mt-5">
      <div class="row mb-3">
        <div class="col-12 col-md-4 col-sm-4 col-xs-3">Email:</div>
        <div class="col-12 col-md-8 col-sm-8 col-xs-9">amonak.snsf@gmail.com</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-xs-12 mt-4">
          <mat-form-field class="li-link">
            <select class="nav-link" matNativeControl>
              <option class="statut-option" disabled value="null">SUBJECT...</option>
              <option class="cible-option" value="delivery">DELIVERY</option>
              <option class="cible-option" value="information">INFORMATION</option>
              <option class="cible-option" value="partnership">PARTNERSHIP</option>
              <option class="cible-option" value="suggestion">SUGGESTION</option>
              <option class="cible-option" value="signal-problem">SIGNAL A PROBLEM</option>
              <option class="cible-option" value="divers">DIVERS</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 col-sm-4">
      <img src="../../assets/imgs/contact.jpg" width="100%" height="auto">
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-sm-4 col-xs-12">
      <textarea class="area-style" placeholder="Tell more about the subject..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-end">
      <button class="submit-style">send</button>
    </div>
  </div>
</mat-card>
