<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center avatar-container" >
      <div class="d-flex justify-content-center avatar"></div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center change-avatar" >
      <div class="d-flex justify-content-center ml-4">
        <input type="file" name="file"/>
      </div>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-1 d-flex justify-content-center">
      <button class="orange" [routerLink]="['/edit/']" fragment="edit_form">MY INFOS</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="blue" [routerLink]="['/edit/']" fragment="doc">DOCS</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="orange" [routerLink]="['/edit/']" fragment="blocking">BLOCKING</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="blue" [routerLink]="['/edit/']" fragment="publications">PUBLICATIONS</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="orange" [routerLink]="['/edit/']" fragment="publicities">PUBLICITIES</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="blue" [routerLink]="['/edit/']" fragment="deliveries">DELIVERIES</button>
    </div>
  </div>
  <div class="row padding-l">
    <div class="col-md-12 col-sm-12 padding-l mt-3 d-flex justify-content-center">
      <button class="orange" [routerLink]="['/edit/']" fragment="contact">CONTACT</button>
    </div>
  </div>
</div>

